<nav class="nav-bar">

  {{#if isAuthenticated}}
    <img id="navbar-github-avatar" src="{{avatar_url}}"/>
    <span id="navbar-welcome-message">Hello, {{username}}!<span>
  {{else}}
    <a href="/login">Hello, please login.</a>
  {{/if}}

  {{#if isNotHomePage}}
    <a href="/">Click to view posts!</a>
  {{/if}}

  {{#if isNotAddPage}}
    <a href="/add">Click to add post!</a>
  {{/if}}

</nav>
